:root {
    --bg-color: hsl(0, 0%, 90%)
}

body {
    background-color: var(--bg-color);
    font-family: 'Inter';
}

h1 {
    font-size: 96px;
    font-weight: 900;
    font-style: italic;
    line-height: 0px;
}

p {
    font-size: 40px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-left {
    /* flex: 1; */
    margin-right: 5%;
}

.hero-right {
    /* flex: 2; */
}

.logo {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.icon-img {
    width: 5rem;
}