:root {
    --bg-color: hsl(0, 0%, 90%)
}

body {
    background-color: var(--bg-color);
}

.hero {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.logo {
    width: 20rem;
    border-radius: 50%;
}

.icon-img {
    width: 5rem;
}